<div class = "col-md-12" style = "margin-bottom: 15px;">
<% pth = image_path("Title.jpg") %> 
<div class = "col-md-12 add_shadow_border home_header">
    
    <div class = "home_picture" style="background: url(<%= pth %>) center center; background-size: cover; height: 300px">
        <div class = "head_header_title add_hover">Lorem ipsum dolor sit amet</div>
        
        <div class = "tile_tags temp_fix">
            <div class = "tile_tag">Tag1</div>
            <div class = "tile_tag">Tag2</div>
        </div>
        
        <div class = "tile_author">by Admin</div>
        
    </div>
    
    <div class = "home_header_controls">
        <div class = "home_like add_hover"><i class="glyphicon glyphicon-thumbs-up"></i> 3</div>
        <div class = "home_dislike add_hover"><i class="glyphicon glyphicon-thumbs-down"></i> 4</div>
        <div class = "home_comments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 5</span></div>
        <div class = "home_date">12 March 13:01</div>
        <div class = "home_readmore add_hover">READ MORE</div>
    </div>
    
    <div class="home_head_description">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
        <div class = "tile_author temp_fix">Category</div>
        
    </div>
    
</div>
</div>


<div class = "col-md-4">
    <div class = "home_latest_arts add_shadow_border">
        <div class = "home_latest_header">LATEST ARTICLES</div>
        <div class = "home_articles add_hover">
            <div class = "home_article_title">Lorem ipsum dolor sit amet</div>
            <div class = "home_article_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... </div>
        </div>
        
        <div class = "home_articles add_hover">
            <div class = "home_article_title">Lorem ipsum dolor sit amet</div>
            <div class = "home_article_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... </div>
        </div>
        
        <div class = "home_articles add_hover">
            <div class = "home_article_title">Lorem ipsum dolor sit amet</div>
            <div class = "home_article_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... </div>
        </div>
        
        <div class = "home_articles add_hover">
            <div class = "home_article_title">Lorem ipsum dolor sit amet</div>
            <div class = "home_article_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... </div>
        </div>
        
        <div class = "home_articles add_hover">
            <div class = "home_article_title">Lorem ipsum dolor sit amet</div>
            <div class = "home_article_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... </div>
        </div>
        
    </div>
</div>

<div class = "col-md-4">
    <div class = "home_latest_arts add_shadow_border">
        <div class = "home_latest_header">LATEST COMMENTS</div>
        <div class = "home_articles add_hover">
            <div class = "home_article_title">Lorem ipsum dolor sit amet</div>
            <div class = "home_article_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... </div>
        </div>
        
        <div class = "home_articles add_hover">
            <div class = "home_article_title">Lorem ipsum dolor sit amet</div>
            <div class = "home_article_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... </div>
        </div>
        
        <div class = "home_articles add_hover">
            <div class = "home_article_title">Lorem ipsum dolor sit amet</div>
            <div class = "home_article_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... </div>
        </div>
        
        <div class = "home_articles add_hover">
            <div class = "home_article_title">Lorem ipsum dolor sit amet</div>
            <div class = "home_article_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... </div>
        </div>
        
        <div class = "home_articles add_hover">
            <div class = "home_article_title">Lorem ipsum dolor sit amet</div>
            <div class = "home_article_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ... </div>
        </div>        
        
    </div>
</div>



<div class = "col-md-4">

    <div class = "add_1 add_shadow_border">
      PLACE HOLDER
    </div>
    <div class = "add_3 add_shadow_border">
      PLACE HOLDER
    </div>

</div>
