
/* Index Article */

.tile_text{
	background-color: white;
	color: black;
	min-height: 50px;
	padding: 10px;
	width: 100%;
	font-size: 90%;
	position: relative;
}

.tile_text .edit_delete_control{
    float: right;
    font-size: 86%;
    position: absolute;
    top: 5px;
    right: 10px;
}

.tile_title{
    font-size: 125%;
    font-weight: bold;
    padding-left: 5px;
}

.tile_body{
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.tile_picture{
	float: left;
	height: 250px;
	width: 93%;
	background-color: silver;
}

.tile_cat{	
	background-color: white;
	color: black;
	width: 125px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	margin-left: 0px;
	margin-top: 0px;	
}

.tile_author{
    margin-top: 180px;
    right: 0px;
	background-color: black;
	width: 140px;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	line-height: 25px;
	margin-left: 20px;
	margin-bottom: 0px;
	color: white;
}

.tile_controls{	
	float: right; 
	height: 250px;
	width: 7%;
}

.like, .dislike, .comments, .when{
	width: 100%;
	float: left;
	height: 35px;
	font-size: 70%;
	vertical-align: middle;
	text-align: center;
	line-height: 35px;
	color: white;
    border-bottom: 1px solid silver;
}

.read_more{	
	background-color: #1a3b64;
	width: 100%;
	float: left;
	height: 110px;
}

.like, .dislike {
	background-color: black;
}
.when{
	background-color: #434343;
	font-size: 65%;
	height: 40px;
}
.comments{
	background-color: #818181;
}

.tile_tags{
    margin-right: 30px;
    min-width: 150px;
    float: right;
    min-height: 20px;
    opacity: 0.7;
}
.tile_tag{
    color: white;
    width: 100%;
    height: 20px;
    vertical-align: middle;
	text-align: center;
	line-height: 20px;
	background-color: #25485e;
	margin-top: 5px;
}

/* END of Index Article */


/* Show Article */


.art_show_header{
    width: 100%;
    min-height: 40px;
    /*background-color: var(--general-bg-color);*/
}

.art_show_title{
    width: 100%;
    min-height: 40px;
    font-size: 150%;
    font-weight: bold;
    letter-spacing: -1px;
    /*padding: 20px;*/
}

.art_show_title .edit_delete_control{
    float: right;
    font-size: 75%;
    position: absolute;
    top: 5px;
    right: 20px;
}

.art_show_info{
    width: 100%;
    min-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.art_show_info .art_show_author, .art_show_comms, .art_show_date, .art_show_cat{
    min-width: 10%;
    float: left;
    vertical-align: middle;
	text-align: center;
	line-height: 24px;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 25px;
}

.art_show_info .art_show_cat{
    background-color: black;
    color: white;
}

.art_show_content{
    background-color: var(--tiles-bg-color);
    color: var(--tiles-text-color);
    width: 100%;
    min-height: 300px;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 10px;
}

/* Show Article END */