// Place all the styles related to the arts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.add_link{
    float: right;
    width: 40%;
    text-align: center;
    height: 40px;
    font-size: 75%;
    padding-top: 10px;
}
.add_link a:active {
    color: white;
}
.add_link a:visited {
    color: white;
}

.location_name{
    width: 60%;
    float: left;
    padding-top: 10px;
}

.pathLocation{
    background-color: #222222;
    color: white;
    width: 100%;
    height: 40px;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 20px;
 /* border-top-left-radius: var(--corner-size); */
 /* border-top-right-radius: var(--corner-size); */
}














/*Clean*/

.new_css{
	padding: 0px;
	
	height: 350px;
	background-color: white;
}

.tile_text{
	background-color: white;
	color: black;
	height: 100px;
	padding: 10px;
	width: 100%;
	font-size: 90%;
}

.tile_title{
    font-size: 125%;
    font-weight: bold;
    padding-left: 5px;
}

.tile_body{
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.tile_picture{
	float: left;
	height: 250px;
	width: 93%;
	background-color: silver;
}

.tile_cat{	
	background-color: white;
	color: black;
	width: 125px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	margin-left: 0px;
	margin-top: 0px;	
}

.tile_author{
    margin-top: 180px;
    right: 0px;
	background-color: black;
	width: 140px;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	line-height: 25px;
	margin-left: 20px;
	margin-bottom: 0px;
	color: white;
}

.tile_controls{	
	float: right; 
	height: 250px;
	width: 7%;
}

.like, .dislike, .comments, .when{
	width: 100%;
	float: left;
	height: 35px;
	font-size: 70%;
	vertical-align: middle;
	text-align: center;
	line-height: 35px;
	color: white;
    border-bottom: 1px solid silver;
}

.read_more{	
	background-color: #1a3b64;
	width: 100%;
	float: left;
	height: 110px;
}

.like, .dislike {
	background-color: black;
}
.when{
	background-color: #434343;
	font-size: 65%;
	height: 40px;
}
.comments{
	background-color: #818181;
}

.tile_tags{
    margin-right: 30px;
    min-width: 150px;
    float: right;
    min-height: 20px;
    opacity: 0.7;
}
.tile_tag{
    color: white;
    width: 100%;
    height: 20px;
    vertical-align: middle;
	text-align: center;
	line-height: 20px;
	background-color: #25485e;
	margin-top: 5px;
}




.add_1{
    width: 100%;
    height: 100px;
    background-color: var(--general-color);
    vertical-align: middle;
	text-align: center;
	line-height: 100px;
 
}

.add_2{
    width: 100%;
    height: 200px;
    background-color: var(--general-color);
    margin-top: 30px;
    vertical-align: middle;
	text-align: center;
	line-height: 200px;
}

.add_3{
    width: 100%;
    height: 300px;
    background-color: var(--general-color);
    margin-top: 30px;
    vertical-align: middle;
	text-align: center;
	line-height: 300px;
}

.add_css{
    float: right;
    width: 100%;
}

/* Show Article CLEAN */


.show_title{
    width: 100%;
    height: 80px;
    font-size: 220%;
    font-weight: bold;
    letter-spacing: -2.5px;
    padding-left: 20px;
    padding-top: 20px;

}
.show_header{
    width: 100%;
    background-color: white;
}

.show_info{
    width: 100%;
    height: 40px;
}

.show_info .tile_author{
    margin-top: 0px;
    float: left;
}

.show_comms{
    width: 20%;
    float: left;
    vertical-align: middle;
	text-align: center;
	line-height: 25px;
}
.show_date{
    width: 20%;
    float: left;
    vertical-align: middle;
	text-align: center;
	line-height: 25px;
}

.show_cat{
    width: 20%;
    float: right;
    vertical-align: middle;
	text-align: center;
	line-height: 25px;
}

.show_content{
    background-color: var(--tiles-bg-color);
    color: var(--tiles-text-color);
    width: 100%;
    min-height: 300px;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 20px;
}
/* Show Article END */