// Place all the styles related to the arts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pathLocation{
    background-color: #222222;
    color: white;
    width: 97.4%;
    margin-left: 15px;
    height: 40px;
    letter-spacing: -1.5px;
    margin-top: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pathLocation2{
    background-color: #222222;
    color: white;
    width: 97.4%;
    margin-left: 15px;
    height: 40px;
    letter-spacing: -1.5px;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.show_title{
    color: white;
    background-color: #222222;
    width: 100%;
    height: 40px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -2px;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.show_content{
    background-color: #222222;
    color: white;
    width: 100%;
    min-height: 300px;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 20px;
}

.commentSection{
    width: 100%;
    color: white;
    background-color: #222222;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
}

.show_textarea{
    width: 90%;
    float: right;
    height: 50px;
}


.post-comments {
    padding-bottom: 9px;
    margin: 5px 0 5px;
}

.comments-nav {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.post-comments .comment-meta {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.post-comments .media {
    margin-bottom: 5px;
    padding-left: 10px;
}

.post-comments .media-heading {
    font-size: 12px;
    color: grey;
}

.post-comments .comment-meta a {
    font-size: 12px;
    color: grey;
    font-weight: bolder;
    margin-right: 5px;
}
