// Place all the styles related to the chals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.small_fix{
    background-color: var(--general-color);
    height: 35px; 
    margin-bottom: 15px;
    margin-top: 5px;
    padding-top: 9px;
}

.chals_container{
    color: var(--tiles-text-color);
    height: 140px;
    background-color: var(--general-color);
    margin-bottom: 15px;
}




a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: green;
}

a:active {
    text-decoration: none;
    color: white;
}

.tile_header {
    background-color: var(--general-color);
    color: var(--tiles-text-color);
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}

.tile_header .how_i{
    color: red;
    text-decoration: none;
    font-size: 105%;
    letter-spacing: -1px;
    float: left;
    padding-right: 20px;
}

.tile_header .treat{
    text-decoration: none;
    font-size: 135%;
    letter-spacing: -1px;
    float: left;
    font-weight: bold;
}

.tile_description {
    color: var(--tiles-text-color);
    padding: 10px;
    height: 75px;
    width: 75%;
    float: left;
}

.tile_details{
    font-size: 75%;
    color: black;
    height: 30px;
    font-weight: bold;
    padding-left: 10px;
    margin-right: 10px;
    width: 85%;
}

.tile_duration{
    float: right;
    color: silver;
    width: 15%;
    padding-right: 15px;
    text-align: right;
    background-color: var(--general-color);
    border-bottom-left-radius: var(--corner-size);
    border-bottom-right-radius: var(--corner-size);
    height: 30px;

}