// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


/**** Cleaning ****/

/* Variables */
:root {
    --tiles-text-color: black;           /* General text color                 */
    --tiles-bg-color: white;             /* General tile background color      */ 
    --general-bg-color: white;           /* General background for text color  */
    --corner-size: 10px;                 /* General corner rowndness           */
    --link-visited-color: silver;        /* General visited link color         */
    --link-hover-color: #afd330;         /* General hover link color           */
    
    --green-vivid-color: #aed130;        // Green with high saturation
    --green-light-color: #bad55e;        // Green with high brightness
    --bright-black-color: #1d1d1d;       // Black with high brightness
    
    --border-color: #1d1d1d;             // Used in add border effect
}

/* Effects */

.add_shadow {
    -webkit-box-shadow: rgba(0,0,0,.3) 3px 4px 4px;
    -moz-box-shadow: rgba(0,0,0,.3) 3px 4px 4px;
    box-shadow: rgba(0,0,0,.3) 3px 4px 4px;
} // Adds black shadow

.add_hover:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
} // Adds hovering effect

.add_link{
    float: right;
    width: 40%;
    text-align: center;
    height: 40px;
    font-size: 75%;
    padding-top: 10px;
}
.add_link a:active {
    color: white;
}
.add_link a:visited {
    color: white;
} // Transforms in to link lookalike

.add_border {
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
} // Adds border

.add_border_small {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: silver;
} // Adds border

.add_border_shadow {
    border-style: solid;
    border-color: red;
    border-bottom: 10px;

} // Adds border

.add_shadow_border {
    -webkit-box-shadow: rgba(0,0,0,.3) 3px 4px 4px;
    -moz-box-shadow: rgba(0,0,0,.3) 3px 4px 4px;
    box-shadow: rgba(0,0,0,.3) 3px 4px 4px;
    border-radius: 3px;
    overflow: hidden;
    
} // Adds black shadow

/* General styling */

.pathLocation{ /* Used on index pages */
    background-color: #222222;
    color: white;
    width: 100%;
    height: 40px;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 20px;
 // border-top-left-radius: var(--corner-size);
 // border-top-right-radius: var(--corner-size);
}

.location_name{
    width: 60%;
    float: left;
    padding-top: 10px;
}





/**** --------- ****/










.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 500px;
}

.post-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 175px;
  width: 360px;
}


.art_container{
    padding: 10px;    
    color: white;
    height: 240px;
    -webkit-filter: grayscale(70%);
    opacity:1;
    -webkit-box-shadow: rgba(0,0,0,.6) 6px 8px 8px;
    -moz-box-shadow: rgba(0,0,0,.6) 6px 8px 8px;
    box-shadow: rgba(0,0,0,.6) 6px 8px 8px;
}

.art_header{
    height: 45px;
    font-size: 125%;
    text-transform: capitalize;
    font-weight: bold;
    color: #e9f5be;
    letter-spacing: -1px;
}

.art_header a:visited {
    color: #e9f5be;
    text-decoration: none;
}
.art_description{
    border-top: 2px solid #abce2f;
    padding-top: 5px;
    height: 140px;
    font-size: 115%;
    border-bottom: 1px solid #abce2f;
    color: white;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 20px;
}
.art_details{
    font-size: 75%;
    color: black;
    height: 40px;
    font-weight: bold;
}

.custom_margin{
    margin-bottom: 30px;
}

.art_container .cover{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    opacity: .3;
    width: 92.3%;
    height: 100%;
}

.mid {
    text-align: center; 
    vertical-align: middle;
}


.col-md-4:hover .cover{
  opacity: .7;
  color: red;
    
}



a {
    
  text-decoration: none;
  color: black;
  
  &:link{
    color: var(--link-visited-color);
    text-decoration: none;
  }

  &:visited {
    color: var(--link-visited-color);
    text-decoration: none;
  }

  &:hover {
    color: var(--link-hover-color);
    text-decoration: none;
  }
  
  &:active{
    color: black;
    text-decoration: none;
  }
}


.xbottomFooter{
    background-color: #222222;
    width: 100%;
    height: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 15px;
    position: absolute;
}

.bottomFooter{
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
    height: 145px;
    padding-top: 25px;
}

.tempHeight{
    height: 135px;
}


/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

* {
    margin: 0;
    padding: 0;
}

/* must declare 0 margins on everything, also for main layout components
use padding, not vertical margins (top and bottom) to add spacing, else
those margins get added to total height and your footer gets pushed down
a bit more, creating vertical scroll bars in the browser */

html, body, #wrap {
    height: 100%;
}

body > #wrap {
    height: auto;
    min-height: 100%;
    margin-bottom: 25px;
}

#main {
    padding-bottom: 125px;  /* must be same height as the footer */
}

#footer {
    position: relative;
    margin-top: -125px;  /* negative value of footer height */
    height: 125px;
    clear: both;
} 

/* CLEAR FIX */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}




/* Adds CSS */

.add_1, .add_2, .add_3{
    width: 100%;
    background-color: #222222;
    vertical-align: middle;
	text-align: center;
	line-height: 100px;
	margin-bottom: 30px;
}
.add_1{
    height: 100px;
    line-height: 100px;
}
.add_2{
    height: 200px;
    line-height: 200px;
}
.add_3{
    height: 300px;
    line-height: 300px;
}
.add_css{
    float: right;
    width: 100%;
}

/* END of Adds CSS*/


/* Comments section */

.comments_label{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -2px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text_area_css{
    min-height: 100px;
    border: 1px white solid;
    border-radius: 0px;
    resize: vertical;
    width: 100%;
    position: relative;
}

.your_comment{
    font-weight: bold;
    font-size: 8px;
    background-color: #afd330;
    color: black;
    padding-left: 5px;
    height: 18px;
}

.add_comment_button{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 20;
    border-radius: 0px;
    color: black;
    background: #afd330;
    font-weight: bold;       
    font-size: 75%;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tmp_relative{
    position: relative;
    margin-bottom: 30px;
}

.collapse_btn{
    border-radius: 0px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.com_author{
    background-color: #7e9336;
    color: white;
    height: 20px;
    font-weight: bold;
    width: 100px;
    float: left;
    vertical-align: middle;
	text-align: center;
	line-height: 20px;
	border-left: 1px silver;
	margin-right: 10px;
}

.com_date{
    background-color: white;
    color: black;
    height: 20px;
    font-weight: bold;
    width: 170px;
    float: left;
    vertical-align: middle;
	text-align: center;
	line-height: 20px;
	border-left: 1px silver;
	margin-right: 10px;
	opacity: 0.5;
	font-size: 80%;
}

.comment_section{
    width: 100%;
    color: white;
    background-color: #222222;
    padding: 20px;
    margin-bottom: 30px;
}

.post-comments {
    padding-bottom: 10px;
    margin: 5px 0 5px;
}

.post-comments .comment-meta {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.post-comments .media {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.post-comments .media-heading {
    font-size: 12px;
    color: grey;
    margin-bottom: 15px;
}

.post-comments .comment-meta a {
    font-size: 12px;
    color: grey;
    font-weight: bolder;
    margin-right: 5px;
}

.tmp_fx {
    padding-right: 10px;
}

/* End Comments Section */