// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


/**** Cleaning ****/

/* Variables */
:root {
    --tiles-text-color: black;   /* General text color */
    --tiles-bg-color: white;     /* Tile bacground color*/ 
    --general-color: #222222;    /* General background color */
    --corner-size: 10px;         /* General corner rowndness */
    --link-visited-color: black; /* General visited link color*/
    --link-hover-color: #afd330; /* General hover link color*/
}

/* Effects */
.add_shadow {
    -webkit-box-shadow: rgba(0,0,0,.6) 6px 8px 8px;
    -moz-box-shadow: rgba(0,0,0,.6) 6px 8px 8px;
    box-shadow: rgba(0,0,0,.6) 6px 8px 8px;
}

.add_hover:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

/* General styling */








/**** --------- ****/










.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 500px;
}

.post-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 175px;
  width: 360px;
}

.types { 
    color: white; 
    background-color: black; 
    overflow: auto; 
    min-width: 100%;
    padding-left: 200;
}

.art_control{
    float: right;
    margin: 10px;
}

.art_container{
    padding: 10px;    
    color: white;
    height: 240px;
    -webkit-filter: grayscale(70%);
    opacity:1;
    -webkit-box-shadow: rgba(0,0,0,.6) 6px 8px 8px;
    -moz-box-shadow: rgba(0,0,0,.6) 6px 8px 8px;
    box-shadow: rgba(0,0,0,.6) 6px 8px 8px;
}

.art_header{
    height: 45px;
    font-size: 125%;
    text-transform: capitalize;
    font-weight: bold;
    color: #e9f5be;
    letter-spacing: -1px;
}

.art_header a:visited {
    color: #e9f5be;
    text-decoration: none;
}
.art_description{
    border-top: 2px solid #abce2f;
    padding-top: 5px;
    height: 140px;
    font-size: 115%;
    border-bottom: 1px solid #abce2f;
    color: white;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 20px;
}
.art_details{
    font-size: 75%;
    color: black;
    height: 40px;
    font-weight: bold;
}

.custom_margin{
    
    margin-bottom: 40px;
}

.art_container .cover{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    opacity: .3;
    width: 92.3%;
    height: 100%;
}

.mid {
    text-align: center; 
    vertical-align: middle;
}


.col-md-4:hover .cover{
  opacity: .7;
  color: red;
    
}



a {
    
  text-decoration: none;
  color: black;

  &:visited {
    color: var(--link-visited-color);
    text-decoration: none;
  }

  &:hover {
    color: var(--link-hover-color);
    text-decoration: none;
  }
  &:active{
    color:black;
    text-decoration: none;
  }
}


.xbottomFooter{
    background-color: #222222;
    width: 100%;
    height: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 15px;
    position: absolute;
}

.bottomFooter{
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
    height: 145px;
    padding-top: 25px;
}

.tempHeight{
    
    height: 135px;
}


/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

* {
    margin: 0;
    padding: 0;
}

/* must declare 0 margins on everything, also for main layout components
use padding, not vertical margins (top and bottom) to add spacing, else
those margins get added to total height and your footer gets pushed down
a bit more, creating vertical scroll bars in the browser */

html, body, #wrap {
    height: 100%;
}

body > #wrap {
    height: auto;
    min-height: 100%;
    margin-bottom: 25px;
}

#main {
    padding-bottom: 125px;  /* must be same height as the footer */
}

#footer {
    position: relative;
    margin-top: -125px;  /* negative value of footer height */
    height: 125px;
    clear: both;
} 

/* CLEAR FIX */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

.placeHolder1{
    position: absolute;
    min-height: 60%;
    width: 200px;
    left: 25px;
    top: 140px;
    margin-left: 25px;
    /*background-color: #4e4e4e;*/
}

.placeHolder2{
    position: absolute;
    min-height: 60%;
    width: 200px;
    right: 25px;
    top: 140px;
    margin-left: 25px;
   /* background-color: #4e4e4e;*/
}